*{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* #FF9549 */
  /* #939697 */
}
.header{
  background-color: #181818;
  padding: 15px;
}
.header_container{
  width: 80%;
  margin: auto;
  display: flex;
  gap: 30px;
}
.header_text{
  width: 90%;
}
.tample1{
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #939697;
  align-items: center;

}
.location{
  display: flex;
  gap: 5px;
  align-items: center;
}
.setting{
  display: flex;
  color: #fff;
  gap: 25px;
}
.set{
  display: flex;
  align-items: center;
  gap: 5px;
}
.test{
  display: flex;
  align-items: center;
}
.tample2{
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  align-items: center;
  padding: 8px;
}
.tample2_text{
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
}
.telefon{
  display: flex;
  gap: 20px;
  align-items: center;
  color: #fff;
}
.header_button{
  padding: 13px 30px;
  display: flex;
  border: none;
  border-radius: 10px;
  gap: 15px;
  background-color: #FF9549;
  margin-bottom: 10px;
}
.hd{
  display: none;
}
.fg{
  display: none;
}
.section1{
  background-image: url(imges/section1_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
}
.section1_text{
  width: 30%;
  margin-top: 150px;
  margin-left: 150px;
  color: #fff;
}
.section1_mob{
  display: none;
}
.section1_text_mob{
  display: none;
}
.section2{
  background-color: #181818;
  padding-bottom: 50px;
}
.section2_srok{
  background-color: #252C2C;
  margin: auto;
  width: 80%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 60px;
}
.blocks{
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
.sec2_texts{
  margin: auto;
  width: 80%;
  color: #fff;
  text-align: center;
}
.cars{
  display: flex;
  gap: 50px;
  width: 35%;
  margin: auto;
}
.section3{
  background-color: #1C2121; 

}
.sec3_container{
  width: 80%;
  margin: auto;
  margin-top: 60px;
  display: flex;
  color: #fff;
  /* background-color: #FF9549; */
  justify-content: space-between;
}
.section3_cont{
  width: 85%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.sec3_imges{
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 30px;
}






@media (max-width: 610px) {
  .sec3_imgg{
    width: 400px;
    margin: auto;
  }
  .q{
    margin-bottom: 20px;
    width: 100%;
  }
  .sec3_imges{
    flex-direction: column;
    text-align: center;
  }
  .v{
    margin-bottom: 5px;
    margin-left: 5px;
    width: 350px;
  }
  .section3_cont{
    flex-direction: column;
  }
  .sec3_cnt_text{
    margin: auto;
    margin-bottom: 50px;
  }
  .sec3_img{
    width: 360px;
  }
  .sec3_container{
    flex-direction: column-reverse;
    margin: 0;
    width: 100%;
  }
  .sec2_texts{
    margin: 0;
    width: 100%;
    text-align: center;

  }
  .cars{
    gap: 10px;
    width: 330px;
    text-align: start;
    margin: 0;
  }
  .w{
    margin: auto;
    width: 95%;
    margin-bottom: 10px;
  }
  .blocks{
    flex-direction: column;
    width: 100%;
  }
  .sa{
    width: 95%;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .section2_srok{
    flex-direction: column;
  }
  .sec1_button{
    background-color: #FF9549;
    padding: 16px 97px;
    margin: auto;
     display: flex;
     border: none;
     border-radius: 10px;
     gap: 15px;
     text-align: center;
  }
  .section1_text_mob{
    display: block;
    background-color: #181818;
    width: 100%;
    color: #fff;
    padding-bottom: 40px;
  }
  .section1_mob{
    display: block;
    background-image: url(imges/section1_mob.png);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
  }
  .section1{
    display: none;
  }
  .fg{
    display: block;
    display: flex;
    gap: 15px;
  }
  .hd{
    display: block;
  }
  .header_container{
    width: 95%;
    padding: 5px;
    gap: 20px;
    justify-content: space-between;
  }
  .header_text{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
  }
    .header{
      width: 100%;
      padding: 0;
      justify-content: start;
      background-color: #181818;
      margin-bottom: 0;
    }
   .tample1{
    display: none;
   }
   .tample2{
    display: none;
   }
}