*{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* #FF9549 */
  /* #939697 */
}
body{
  background-color: #181818;
}
.header{
  background-color: #181818;
  padding: 15px;
}
.header_container{
  width: 80%;
  margin: auto;
  display: flex;
  gap: 30px;
}
.header_text{
  width: 90%;
  margin: auto;
}
.tample1{
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #939697;
  align-items: center;
  
}
.location{
  display: flex;
  gap: 5px;
  align-items: center;
}
.setting{
  display: flex;
  color: #fff;
  gap: 25px;
}
.set{
  display: flex;
  align-items: center;
  gap: 5px;
}
.test{
  display: flex;
  align-items: center;
}
.tample2{
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  align-items: center;
  padding: 8px;
}
.tample2_text{
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
}
.telefon{
  display: flex;
  gap: 20px;
  align-items: center;
  color: #fff;
}
.header_button{
  padding: 13px 30px;
  display: flex;
  border: none;
  border-radius: 10px;
  gap: 15px;
  background-color: #FF9549;
  margin-bottom: 10px;
}
.hd{
  display: none;
}
.fg{
  display: none;
}
.section1{
  background-image: url(imges/section1_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
}
.section1_text{
  width: 30%;
  margin-top: 150px;
  margin-left: 150px;
  color: #fff;
}
.section1_mob{
  display: none;
}
.section1_text_mob{
  display: none;
}
.section2{
  background-color: #181818;
  padding-bottom: 50px;
}
.section2_srok{
  background-color: #252C2C;
  margin: auto;
  width: 80%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 60px;
}
.blocks{
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
.sec2_texts{
  margin: auto;
  width: 80%;
  color: #fff;
  text-align: center;
}
.cars{
  display: flex;
  gap: 50px;
  width: 35%;
  margin: auto;
}
.section3{
  background-color: #1C2121; 
  
}
.sec3_container{
  width: 80%;
  margin: auto;
  margin-top: 60px;
  display: flex;
  color: #fff;
  /* background-color: #FF9549; */
  justify-content: space-between;
}
.section3_cont{
  width: 85%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.sec3_imges{
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 30px;
}
.section5{
  background-color: #181818;
}
.sec5_container{
  margin: auto;
  margin-top: 30px;
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.select{
  background-color: #252C2C;
  border: #939697;
  padding: 10px 130px;
  border-radius: 5px;
}
.select option{
  color: #fff;
}
.sec5_cnt{
  width: 85%;
  margin: auto;
  padding-bottom: 30px;
}
.sec5_h1{
  border-radius: 10px;
  border: 2px solid #939697;
  padding: 15px;
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}
.tank300{
  width: 350px;
}

.h1_button{
  padding: 13px 30px;
  border: none;
  border-radius: 10px;
  gap: 15px;
  background-color: #FF9549;
  margin-bottom: 10px;
  display: flex;
}
.section6{
  background-image: url(imges/section6.png);
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section6_text{
  width: 30%;
  color: #fff;
  margin-top: 100px;
  margin-left: 100px;
}
.wssa{
  margin: auto;
  width: 80%;
  display: block;
  margin-top: 80px;
  margin-bottom: 100px;
}
.section7_text{
  margin: auto;
  width: 85%;
  border-bottom: 1px solid #939697;
  margin-bottom: 50px;
}
.headerr_text{
  width: 90%;
  margin: auto;
  margin-top: 130px;
}
.fds{
  color: #fff;
  font-weight: 300;
  margin-left: 80px;
  margin-top: 70px;
  font-size: 15px;
  margin-bottom: 60px;
}
.footer{
  border-top: 1px solid #939697;
  color: #939697;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.footer_text{
  display: flex;
  gap: 50px;
}







@media (max-width: 610px) {
  .footer{
    font-size: 10px;
  }
  .footer_text{
    font-size: 10px;
    gap: 10px;
    padding: 5px;
  }
  .fds{
    margin-left: 20px;
    font-size: 14px;
  }
  .headerr_text{
    display: none;
  }
  .section7_text{
    width: 90%;
  }
  .wssa{
    width: 100%;
    height: 160px;
  }
  
  .section7{
    width: 100%;
  }
  .section6_text .header_button{
    width: 100px;
    font-size: 10px;
    text-align: center;
    padding: 10px 15px;
    margin-top: 10px;
  }
  .saw{
    width: 70px;
  }
  .section6_text{
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .tank300{
    width: 300px;
  }
  .sec5_h1 .h1_text img{
    display: none;
  }
  .sec5_h1{
    flex-direction: column;
  }
  .select{
    margin: auto;
    margin-bottom: 10px;
  }
  .sec5_container{
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .sec3_imgg{
    width: 350px;
    margin-left: 20px;
  }
  .q{
    margin-bottom: 20px;
    width: 100%;
  }
  .sec3_imges{
    flex-direction: column;
    text-align: center;
  }
  .v{
    margin-bottom: 5px;
    margin-left: 5px;
    width: 350px;
  }
  .section3_cont{
    flex-direction: column;
  }
  .sec3_cnt_text{
    margin: auto;
    margin-bottom: 50px;
  }
  .sec3_img{
    width: 360px;
  }
  .sec3_container{
    flex-direction: column-reverse;
    margin: 0;
    width: 100%;
  }
  .sec2_texts{
    margin: 0;
    width: 100%;
    text-align: center;

  }
  .cars{
    gap: 0;
    width: 330px;
    text-align: start;
    margin: 0;
  }
  .w{
    margin: auto;
    width: 95%;
    margin-bottom: 10px;
  }
  .blocks{
    flex-direction: column;
    width: 100%;
  }
  .sa{
    width: 95%;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .section2_srok{
    flex-direction: column;
  }
  .sec1_button{
    background-color: #FF9549;
    padding: 16px 97px;
    margin: auto;
     display: flex;
     border: none;
     border-radius: 10px;
     gap: 15px;
     text-align: center;
  }
  .section1_text_mob{
    display: block;
    background-color: #181818;
    width: 100%;
    color: #fff;
    padding-bottom: 40px;
  }
  .section1_mob{
    display: block;
    background-image: url(imges/section1_mob.png);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
  }
  .section1{
    display: none;
  }
  .fg{
    display: block;
    display: flex;
    gap: 15px;
  }
  .hd{
    display: block;
  }
  .header_container{
    width: 95%;
    padding: 5px;
    gap: 20px;
    justify-content: space-between;
  }
  .header_text{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
  }
    .header{
      width: 100%;
      padding: 0;
      justify-content: start;
      background-color: #181818;
      margin-bottom: 0;
    }
   .tample1{
    display: none;
   }
   .tample2{
    display: none;
   }
}